.game {
  background-image: url(Imagens/imagemCastelo.png);
  image-resolution: 1000dpi;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0%;
  margin: 0;
}

.b1 {
  width: 7%;
  height: 6%;
  left: 10%;
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  color: white;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.b1:hover {
  transform: scale(1.5);
  transition: all 2s;
}

.contagem {
  position: absolute;
  left: 2%;
  color: rgb(14, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.reiniciar {
  width: 30%;
  height: 10%;
  border-radius: 5px 5px 5px 5px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 38%;
  background-color: rgb(250, 250, 250);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.tituloJogo {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: 10%;
  font-size: 100px;
  top: 20%;
}
.linkjogo {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 52);
  width: 13%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 80px;
}

.linkjogo:hover {
  transform: scale(1.5);
  transition: all 2s;
}
.personagem {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  position: absolute;
  right: 47%;
  bottom: 40%;
  background-image: url(Imagens/perso.gif);
}

.final {
  position: fixed;
  height: 60%;
  width: 30%;
  z-index: 3;
  left: 35%;
  top: 25%;
  display: flex;
  justify-content: center;
  background-image: url(Imagens/folha.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.textoFinal1 {
  color: white;
  top: 15%;
  position: absolute;
}
.textoFinal2 {
  color: white;
  top: 23%;
  position: absolute;
}
